#root {
    height: 100vh !important;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Definindo as cores */
::-webkit-scrollbar {
    width: 6px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-thumb {
    background-color: gray; /* Cor do polegar da barra de rolagem */
    border-radius: 3px; /* Borda arredondada */
}

::-webkit-scrollbar-thumb:hover {
    background-color: gray; /* Cor do polegar da barra de rolagem ao passar o mouse */
}

/* Estilo para a trilha (track) da barra de rolagem */
::-webkit-scrollbar-track {
    background-color: transparent; /* Cor da trilha da barra de rolagem */
}

/* Estilo para os cantos da barra de rolagem */
::-webkit-scrollbar-corner {
    background-color: transparent; /* Cor dos cantos da barra de rolagem */
}
